/* Changes the background of the entire site to an image */
body  {
    background-image: url("../images/background16-9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}