/* Adds a new font */
@font-face {
    font-family: 'Beckett-Kanzlei';
    src: url('../font/Beckett-Kanzlei.ttf') format('truetype');
}

.beckett_kanzlei_font {
    font-family: 'Beckett-Kanzlei', 'Times New Roman', serif; 
    font-size: 50px;
}

/* Changes the background of the entire site to an image */
body  {
    background-image: url("../images/background16-9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* This is to make sure the opening section isn't hidden be hind the navbar */
section {
    padding-top: 60px;
}

/* Removing bootstrap padding so that images center better */
.remove_padding {
    padding: 0;
}